/* base.css */
.f-r {
  float: right;
}

.f-l {
  float: left;
}

.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.bold {
  font-weight: bold;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
  height: 0 ;
  visibility: hidden ;
}

.ta-c {
  text-align: center;
}

/* 登录界面 */

.login {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  /* background-image: url('/sxt_exam/lqw/images/login-bg-small.jpg'); */
  background-image: url('../images/b1.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-position: 0% 80%; 
  min-height: 580px;
  min-width: 800px;
}

.login .login-content-wrap {
  position: absolute;
  width: 460px;
  height: 100%;
  min-height: 580px;
  background: rgba(255, 255, 255, .4);
  /* margin:0 auto;失效 */
  top: 0;
  left: 35%;
  right: 35%;  
}

.login .login-content {
  width: 380px;
  height: 500px;
  margin: auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 12px;
  transform: translateY(-50%);
}

.login .logo {
  display: block;
  margin: 0 auto;
  margin-top: 50px
}


.login .login-form-forgot{ /* 忘记密码 */
  float: right;
}
.ant-popover .ant-popover-buttons .ant-btn-sm{ /* 隐藏气泡cancelText */
  display: none;
}
.ant-popover .ant-popover-buttons .ant-btn-primary{
  display: inline-block;
  width: 50px;  
}

.login .login-form-button {
  font-family: "微软雅黑";
  width: 100%;
}

.login .login-from {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px
}

/* 解决chrome自动保存密码后input有蓝色背景的问题 */
:-webkit-autofill {      
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
 }


.login .login-tip {
  color: red;
  margin-bottom: 10px;
  font-family:  Georgia, 'Times New Roman', Times, serif ;
}

.ant-notification-notice{  /* 消息提醒框 */
  background: url(../images/logo-bg.png) #fff no-repeat;
  background-position: 100% 90%;
  background-size: 150px 35px;
}
.ant-notification-notice-message {
  color: #0050b3;
}


/* 使用layout代替 */
/* #leftMenu {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 0;
  border-right: 1px solid #e9e9e9;
  overflow-y: hidden;
  overflow-x: hidden;
} */
/* #leftmenu{
  width: 300px;
} */

/* 主界面 */

/* 左侧导航栏 */
.ant-layout-sider .logo {
  display: block;
  width: 130px;
  margin: 40px auto;
}

.ant-layout-sider .ant-menu-inline {
  border-right: none;
}

/* 右侧内容 ——该板块被layout代替 */
/* #rightWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 700px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
} */
/* 
#rightWrap .ant-menu-submenu {
    float: right;
} */

/* content */
.ant-layout-content {
    width: auto;
    height: 70%;
    background: #fff;
    overflow-y: auto;
}
.ant-layout-content .right-box{
  display: inline-block;
  width: 100%;   
}

/* Header头部菜单栏 */
.ant-layout-header ul{
    padding: 10px;
}

.ant-layout-header .ant-menu-item.h1{
  position: absolute;
  left:0;
  padding-top: 9px;
  
  padding-left: 15px;
}
.ant-layout-header .ant-menu-item.h2{
  /* padding-top: 10px; */
  position: relative;
  float:left;
}

.ant-layout-header .ant-menu-item .tlogo{
  width: 45px;
  height: 36px;
}
.ant-layout-header .ant-menu-item .title{
  width: 160px;
  height: 32px;
}
.ant-layout-header .ant-menu-submenu{
    position: relative;
    float: right;
}

.ant-layout-header .ant-menu-submenu img{
  width: 25px;
  height: 20px;
  padding-right: 5px;  
  
}

/* user-logo图像动画 */
@media (prefers-reduced-motion: no-preference) {
  .ant-layout-header .ant-menu-submenu img {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header .ant-menu-submenu :hover{
  animation-play-state:paused;
}



/* 面包屑 */
.ant-breadcrumb {
  margin-bottom: 20px
}

/* homepage(主页) */
.homepage {
  padding: 20px;
}

.homepage .fast-enter-card {
  float: left;
  margin: 40px;
  width: 200px;
}
.homepage .fast-enter-card h1 {
  color: #ccc;
}

.homepage .fast-enter-card:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}

/* 试题录入 */

.q-checkin .q-checkin-content{
  /* border-bottom: 1px solid #f0f2f5; */
  background-color:rgba(240,242,245,0.);

  padding: 30px;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
  min-height: 400px;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

/* 选则题选项 */
.q-checkin .ant-input-group-addon{
  background-color: rgba(240,242,245,0.4);
}




/* 图片上传 */
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}


/* 所有表格的题头 */
.ant-table-thead > tr > th{
  background:#f0f2f5 ;
  border-bottom: 1px solid #f0f2f5;
}



/* 成绩查询 */

/* 试卷管理 */
/* 在线阅卷 */

/* 正在阅卷 */
.reading-paper-content .paper {
  background-color: #f0f2f5;
  padding: 20px;
}

.reading-paper-content .question-single .content {
  padding: 10px 0;
}

/* 学生页面 */
.exam-notice {
  margin-top: 150px
}


.left-menu .logo{
  display: block;
  width: 130px;
  margin: 50px auto;
}

.el-menu {
  border-right : none;
}


/* .right-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 700px;
  padding: 20px 20px 0;
  position: absolute;
  top:0;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
} */

.top-bar {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 46px;
}
/* .right-box .user-menu {
  cursor: pointer;
  padding: 0 20px;
} */

.el-button--text {
  color: #000
}

.el-button--text:hover {
  color: #000
}


/* 考试页面 */
.nextbutton{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 80px;
  padding-bottom: 30px;
}
.ant-collapse > .ant-collapse-item{
  /* border-bottom: 0.5px solid #f0f2f5; */
  border-bottom: 0;
}
.ant-collapse-header{
  background-color: #fff;
  margin-bottom: 0;
}
.ant-page-header-heading-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 4px 0;
  overflow: hidden;
}

.ant-page-header-heading-title {
  margin-right: 12px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.ant-page-header-heading-extra{
  position: absolute;
  right:0;
}

.ant-space-item{
  position: relative;
  float: right;
}
/* 倒计时组件 */
.ant-statistic {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  /* position: relative;
  float: left; */
}

.ant-statistic-title {
  padding-left: 13px;
}

.ant-statistic-title {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.ant-statistic-content {
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.ant-statistic-content-value {
  display: inline-block;
  direction: ltr;
}

.ant-space-item .ant-btn{
  padding:0px 15px;
  margin-top: 15px;
  margin-right: 20px;
}

/* 表格 */
.ant-descriptions-view {
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgba(240,242,245,0.35);
}

.ant-descriptions-view > table {
  table-layout: auto;
}

.ant-descriptions-view table {
  width: 100%;
  table-layout: fixed;
}
table {
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.ant-descriptions-row {
  border-bottom: 1px solid #f0f2f5;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.ant-descriptions-item-label, .ant-descriptions-item-content {
  padding: 12px 24px;
}
.ant-descriptions-item-label {
  background-color:rgba(240,242,245,0.2);
  border-right: 0.5px solid #f0f2f5;
}
.ant-descriptions-item-label {
  color: rgba(0, 0, 0, 0.85);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5715;
  text-align: start;
}
.ant-descriptions-item-label:last-child, .ant-descriptions-item-content:last-child {
  border-right: none;
}
.ant-descriptions-item-content {
  display: table-cell;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.5715;
}

