/* base.css */
.f-r {
  float: right;
}

.f-l {
  float: left;
}

.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.bold {
  font-weight: bold;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
  height: 0 ;
  visibility: hidden ;
}

.ta-c {
  text-align: center;
}

/* 登录界面 */

.login {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  /* background-image: url('/sxt_exam/lqw/images/login-bg-small.jpg'); */
  background-image: url('../images/login-bg-small.jpg');
  background-size: cover;
  min-height: 580px;
  min-width: 800px;
}

.login .login-content-wrap {
  position: absolute;
  width: 460px;
  height: 100%;
  min-height: 580px;
  background: rgba(255, 255, 255, .4);
  /* margin:0 auto;失效 */
  top: 0;
  left: 35%;
  right: 35%;  
}

.login .login-content {
  width: 380px;
  height: 500px;
  margin: auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 12px;
  transform: translateY(-50%);
}

.login .logo {
  display: block;
  margin: 0 auto;
  margin-top: 50px
}

/* 忘记密码 */
.login .login-form-forgot{
  float: right;

}

.login .login-form-button {
  font-family: "微软雅黑";
  width: 100%;
}

.login .login-from {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px
}


/* 解决chrome自动保存密码后input有蓝色背景的问题 */
:-webkit-autofill {      
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
 }


.login .login-tip {
  color: red;
  margin-bottom: 10px;
  
}

/* 使用layout代替 */
/* #leftMenu {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 0;
  border-right: 1px solid #e9e9e9;
  overflow-y: hidden;
  overflow-x: hidden;
} */
/* #leftmenu{
  width: 300px;
} */

/* 主界面 */

/* 左侧导航栏 */
.ant-layout-sider .logo {
  display: block;
  width: 130px;
  margin: 50px auto;
}

.ant-layout-sider .ant-menu-inline {
  border-right: none;
}

/* 右侧内容 ——该板块被layout代替 */
/* #rightWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 700px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
} */
/* 
#rightWrap .ant-menu-submenu {
    float: right;
} */

/* content */
.site-layout-background {
    width: auto;
    height: 70%;
    background: #fff;
}
/* Header */
.ant-layout-header ul{
    padding: 10px;
}

.ant-layout-header .h2{
  font-size: 20px;
  letter-spacing: 2px;
}

.ant-layout-header .ant-menu-item{
  padding-top: 10px;
  position: absolute;
  left: 0;
}
.ant-layout-header .ant-menu-submenu{
    position: relative;
    float: right;

}

/* 面包屑 */
.ant-breadcrumb {
  margin-bottom: 20px
}

/* homepage(主页) */
.homepage {
  padding: 20px;
}

.homepage .fast-enter-card {
  float: left;
  margin: 40px;
  width: 200px;
}
.homepage .fast-enter-card h1 {
  color: #ccc;
}

.homepage .fast-enter-card:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}

/* 试题录入 */

.q-checkin .q-checkin-content{
  /* border-bottom: 1px solid #f0f2f5; */
  background-color:rgba(240,242,245,0.);

  padding: 30px;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
  min-height: 400px;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.q-checkin .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

/* 选则题选项 */
.q-checkin .ant-input-group-addon{
  background-color: rgba(240,242,245,0.4);
}




/* 图片上传 */
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}


/* 所有表格的题头 */
.ant-table-thead > tr > th{
  background:#f0f2f5 ;
  border-bottom: 1px solid #f0f2f5;
}



/* 成绩查询 */

/* 试卷管理 */
/* 在线阅卷 */

/* 正在阅卷 */
.reading-paper-content .paper {
  background-color: #f0f2f5;
  padding: 20px;
}

.reading-paper-content .question-single .content {
  padding: 10px 0;
}
